<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>SWPECYMDTDDRYPDRELCDT</title>
		<link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
		<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="CSS/login.css">
		<style>
		</style>
</head>
<body>
	<section class="hero is-fullheight is-default is-bold">
	  <div class="hero-head" style="background: url(http://www.clker.com/cliparts/f/b/e/f/14161343851614494677abstract%20mixture%20of%20blue%20and%20green%20wallpaper.jpg);">
	      <nav class="navbar is-primary"> <!--Navegador cabecera-->
          <div class="container">
              <div class="navbar-brand"><!--Parte derecha del navbar-->
                  <a class="navbar-item" href="../"><!--Logo que estará en la derecha-->
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Trash_Can_23.svg/758px-Trash_Can_23.svg.png" alt="Logo">
                  </a>
                  <span class="navbar-burger burger" data-target="navbarMenu"><!--Ícono desplegable con el contenido de navbarMenu-->
                  <span></span>
                  <span></span>
                  <span></span>
                  </span>
              </div>
              <div id="navbarMenu" class="navbar-menu"><!--Parte principal del navbar-->
                  <div class="navbar-end is-hidden-touch"><!--Parte final del navbar-->
															<a class="navbar-item ">Mapa</a><!--Pestaña actual, por así decirlo-->
                              <a class="navbar-item " href="materials">Reciclaje</a>
                              <a class="navbar-item " href="claims">Reclamos</a>
															<a class="navbar-item " href="statistics">Estadisticas</a>
															<a class="navbar-item " href="qr">QR</a>
															<a class="navbar-item is-active" href="login">Iniciar sesión</a>
                  </div>
									<div class="navbar-end is-hidden-desktop has-background-grey-darker">
									<nav class="level has-background-grey-darker">
									<div class="level-item has-text-centered">
									<figure class=" image is-128x128 is-hidden-desktop"><img class="is-rounded" src="https://pm1.narvii.com/6640/b0dc8c743f5f28929dd805f295159ef2210041cc_128.jpg" alt="Usuario p"></figure></div></nav>
									<a class="navbar-item button is-dark has-text-left">Mapa</a><!--Pestaña actual, por así decirlo-->
									<a class="navbar-item button is-dark has-text-left" href="materials">Reciclaje</a>
									<a class="navbar-item button is-dark has-text-left" href="claims">Reclamos</a>
									<a class="navbar-item button is-dark has-text-left" href="statistics">Estadisticas</a>
									<a class="navbar-item button is-dark has-text-left" href="qr">QR</a>
									<a class="navbar-item button is-dark has-text-left is-active" href="login">Iniciar sesión</a>
								</div>
              </div>
          </div>
      </nav>
  </div>
<div class="hero-body" ><!--Cuerpo-->
  <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-grey">Inicia Sesión</h3>
                    <p class="subtitle has-text-grey">Para seguir inicie sesión</p>
                    <div class="box">
                        <figure class="avatar">
                            <img src="https://avatarfiles.alphacoders.com/564/56421.jpg">
                        </figure>
                        <form>
                            <div class="field">
                                <div class="control ">
                                    <input class="input is-large" type="email" placeholder="Email" autofocus="">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" placeholder="Contraseña">
                                </div>
                            </div>
                            <div class="field">
                                <label class="checkbox">
                  <input type="checkbox">
                  Recordarme
                </label>
                            </div>
                            <button class="button is-block is-info is-large is-fullwidth">Iniciar</button>
                        </form>
                    </div>
                    <p class="has-text-grey">
                        <a href="/signup">Registrarse</a> &nbsp;·&nbsp;
                        <a href="../">Olvido Contraseña</a> &nbsp;·&nbsp;
                        <a href="../">Ayuda</a>
                    </p>
                </div>
</div>
</div>
</section>
<script src="/js/bulma.js">
</script>
</body>
</html>
