<% layout('layout') %>
<div class="hero-body" style="align-items: flex-start;"><!--Cuerpo-->
	<div class="container has-text-centered">
	<div class="column is-8 is-offset-2">
	<article class="media">
		<figure class="media-left">
		  <p class="image is-64x64">
			<img src="https://scontent.ftru3-1.fna.fbcdn.net/v/t1.0-9/549677_278333328938952_576181662_n.jpg?_nc_cat=111&_nc_ht=scontent.ftru3-1.fna&oh=be3ade7eeae218966df5b3e78abff0e8&oe=5C3C3099">
		  </p>
		</figure>
		<div class="media-content">
		  <div class="content">
			<p>
			  <strong>Carlos Ugaz Perales</strong>
			  <br>
			  No funciona bien el servicio, me quitan puntos.
			  <br>
			  <small><a>Me gusta</a> · <a>Compartir</a> · 3 hrs</small>
			</p>
		  </div>
	  
		  <article class="media">
			<figure class="media-left">
			  <p class="image is-48x48">
				<img src="https://www.sideshowtoy.com/wp-content/uploads/2018/04/marvel-avengers-infinity-war-thanos-sixth-scale-figure-hot-toys-thumb-903429.jpg">
			  </p>
			</figure>
			<div class="media-content">
			  <div class="content">
				<p>
				  <strong>Ruben James Cam Calderon</strong>
				  <br>
				  Estás mal amigo, hoy ya obtuve mi PC gamer con este sistema.
				  <br>
				  <small><a>Me gusta</a> · <a>Compartir</a> · 2 hrs</small>
				</p>
			  </div>
			</div>
		  </article>
	  
		  <article class="media">
			<figure class="media-left">
			  <p class="image is-48x48">
				<img src="https://lh3.googleusercontent.com/-HzMeX3zy2oo/AAAAAAAAAAI/AAAAAAAAC10/kf0EAls4GTc/s640/photo.jpg">
			  </p>
			</figure>
			<div class="media-content">
			  <div class="content">
				<p>
				  <strong>Diego Liberato </strong>
				  <br>
				  Seguro no reciclas bien, metes cosas de más para ganar peso :j .
				  <br>
				  <small><a>Me gusta</a> · <a>Compartir</a> · 2 hrs</small>
				</p>
			  </div>
			</div>
		  </article>

		  <article class="media">
			<figure class="media-left">
			  <p class="image is-48x48">
				<img src="https://pbs.twimg.com/profile_images/966708606203809802/LqcC2Uno_400x400.jpg">
			  </p>
			</figure>
			<div class="media-content">
			  <div class="field">
				<p class="control">
				  <textarea class="textarea" placeholder="Añada un comentario..."></textarea>
				</p>
			  </div>
			  <div class="field">
				<p class="control">
				  <button class="button">Comentar</button>
				</p>
			  </div>
			</div>
		  </article>
		</div>
	  </article>
	  </div>
	  </div>
</div>
</section>
</body>
</html>