<% layout('layout') %>
<link rel="stylesheet" href="/CSS/home.css">
<div class="hero-body"  style="align-items: flex-start; justify-content: center;"><!--Cuerpo-->
    <div class="container has-text-centered">
        <h3 class="title has-text-grey is-1">¡Únete al cambio!</h3>
        <div class="columns"> <!-- Funciones -->
            <div class="column" style="margin: 10px;">
                <div class="card shadow-card">
                    <div class="card-image notification function-content">
                        <figure class="image is-4by3">
                            <img src="https://c1.staticflickr.com/9/8464/8402885763_b601992fc7_z.jpg" alt="Funcion uno">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media-content">
                            <p class="title is-5 has-text-centered">Seguimiento Camiones Recogedores</p>
                        </div>
                        <br>
                        <div class="content">
                            Ofrecemos un seguimiento a los camiones de recogedores
                            de basura para la puntualidad y comodidad de la entrega de
                            sus desperdicios. 
                        </div>
                    </div>
                </div>
            </div>
            <div class="column" style="margin: 10px;">
                <div class="card shadow-card">
                    <div class="card-image notification function-content">
                        <figure class="image is-4by3">
                            <img src="http://recursos.estudiantes.elpais.com/EPE2018/equipos/MG/2010/12616-8103-636585180609006470.jpg" alt="Funcion dos">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media-content">
                            <p class="title is-5 has-text-centered">Hacer El Reciclaje Divertido</p>
                        </div>
                        <br>
                        <div class="content">
                            Cada vez que salgas por la calle y tengas materiales reciclables
                            puedes dejarlos en los puntos de reciclaje más cercanos para
                            ayudar a nuestro planeta.
                        </div>
                    </div>
                </div>
            </div>
            <div class="column" style="margin: 10px;">
                <div class="card shadow-card">
                    <div class="card-image  notification function-content">
                        <figure class="image is-4by3">
                            <img src="http://www.areciclar.es/wp-content/uploads/2012/11/reducir-reutilizar-recilar-las-3R.jpg" alt="Funcion tres">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media-content">
                            <p class="title is-5 has-text-centered">Premiar Por Reciclaje</p>
                        </div>
                        <div class="content">
                            <br>
                            Cada vez que recicles se te premiará con puntos para poder
                            obtener descuentos en las empresas asociadas a este cambio 
                            ambiental.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>