<% layout('layout') %>
<div class="hero-body" ><!--Cuerpo-->
    <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
            <h3 class="title has-text-grey">Inicia Sesión</h3>
            <p class="subtitle has-text-grey">Para seguir inicia sesión</p>
            <div class="box">
                <figure class="avatar">
                    <img src="https://avatarfiles.alphacoders.com/564/56421.jpg">
                </figure>
                <form method="POST" action="/users/login">
                    <div class="field">
                        <div class="control ">
                            <input name="email" class="input is-large" type="email" placeholder="Email" autofocus="">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input name="password" class="input is-large" type="password" placeholder="Contraseña">
                        </div>
                    </div>
                    <div class="field">
                        <label class="checkbox">
                            <input type="checkbox">
                                Recordarme
                        </label>
                    </div>
                    <input type="submit" class="button is-block is-info is-large is-fullwidth" value="Iniciar">
                </form>
            </div>
            <p class="has-text-grey">
                <a href="/users/signup">Registrarse</a> &nbsp;·&nbsp;
                <a href="../">Olvido Contraseña</a> &nbsp;·&nbsp;
                <a href="../">Ayuda</a>
            </p>
    </div>
</div>
</div>
</body>
</html>
