<% layout('layout') %>
<div class="hero-body" style="align-items: flex-start; padding:0; margin:0; position: null;">
        <div id="map" style="height:600px; width: 100%;"></div>
        <script src="/js/mainMap.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWgEjuWSwFWMyx7qmvn07feSZeQngHd4E&callback=initMap&libraries=geometry"
        async defer></script>
</div>
</body>
</html>