<% layout('layout') %>
<div class="hero-body" style="align-items: flex-start;"><!--Cuerpo-->
  <div class="container has-text-centered">
    <div class="columns is-vcentered" style="margin-top: 4rem;">
      <div class="column is-4 is-offset-1 is-hidden-mobile">
        <span class="icon is-large">
          <i class="fas fa-glass-martini fa-7x"></i>
        </span>
      </div>
      <div class="column is-4 is-offset-1 is-hidden-tablet">
        <span class="icon is-large">
          <i class="fas fa-glass-martini fa-5x"></i>
        </span>
      </div>
      <div class="column is-5 is-offset-1">
        <h1 class="title is-1 is-hidden-mobile" style="font-size: 70px;">
          Vidrio
        </h1>
        <h1 class="title is-1 is-hidden-tablet" style="font-size: 40px;">
          Vidrio
        </h1>
      </div>
    </div>
    <div class="columns is-vcentered" style="margin-top: 2rem;">
      <div class="column is-4 is-offset-1">
        <div class="box has-text-justified">
          <p>
          El vidrio es un material inorgánico duro, frágil, transparente y amorfo,
					siendo este un material de gran dureza pero que, a la vez, resulta muy frágil.
				  Es inorgánico, carece de estructura cristalina y suele permitir el paso de la luz,
					se utilizan para la fabricación de ventanas, puertas, botellas y otros productos.
          </p>
      </div>
      <a class="button is-primary is-inverted" href="/materials">Volver a materiales</a>
    </div>
      <div class="column is-5 is-offset-1">
        <div id="map" style="height:300px; width:100%;"></div>
      </div>
    </div>
  </div>
</div>
<script src="/js/glass.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWgEjuWSwFWMyx7qmvn07feSZeQngHd4E&callback=initMap"
async defer></script>
</body>
</html>
