<% layout('layout') %>
<div class="hero-body" style="align-items: flex-start;"><!--Cuerpo-->
  <div class="container has-text-centered">
    <div class="columns is-vcentered" style="margin-top: 4rem;">
      <div class="column is-4 is-offset-1 is-hidden-mobile">
        <span class="icon is-large">
          <i class="fab fa-gulp fa-7x"></i>
        </span>
      </div>
      <div class="column is-4 is-offset-1 is-hidden-tablet">
        <span class="icon is-large">
          <i class="fab fa-gulp fa-5x"></i>
        </span>
      </div>
      <div class="column is-5 is-offset-1">
        <h1 class="title is-1 is-hidden-mobile" style="font-size: 70px;">
          Plástico
        </h1>
        <h1 class="title is-1 is-hidden-tablet" style="font-size: 40px;">
          Plástico
        </h1>
      </div>
    </div>
    <div class="columns is-vcentered" style="margin-top: 2rem;">
      <div class="column is-4 is-offset-1">
        <div class="box has-text-justified">
          <p>
          Los plasticos son polímeros que se moldean a partir de la presión y el calor.
					Una vez que alcanzan el estado que caracteriza a los materiales que solemos
					denominar como plásticos, estan constituidos por una variedad de compuestos orgánicos,
					sintéticos o semisintéticos, que tienen la propiedad de ser maleables y por
					tanto pueden ser moldeados en objetos sólidos de diversas formas.
          </p>
      </div>
    </div>
      <div class="column is-5 is-offset-1">
        <div id="map" style="height:300px; width:100%;"></div>
        <script>
          var map;
          function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: -8.106591, lng: -79.032068},
              zoom: 14
            });
            var puntos = [
              {
                position: new google.maps.LatLng(-8.126591, -79.032068),
              }
            ];
            puntos.forEach(function(punto) {
              var marker = new google.maps.Marker({
                position: punto.position,
                map: map
              });
            });
          }
        </script>
      </div>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWgEjuWSwFWMyx7qmvn07feSZeQngHd4E&callback=initMap"
async defer></script>
</body>
</html>
