<% layout('layout') %>
<div class="hero-body" style="align-items: flex-start;"><!--Cuerpo-->
  <div class="container has-text-centered">
    <div class="columns is-vcentered" style="margin-top: 4rem;">
      <div class="column is-4 is-offset-1 is-hidden-mobile">
        <span class="icon is-large">
          <i class="far fa-clone fa-7x"></i>
        </span>
      </div>
      <div class="column is-4 is-offset-1 is-hidden-tablet">
        <span class="icon is-large">
          <i class="far fa-clone fa-5x"></i>
        </span>
      </div>
      <div class="column is-5 is-offset-1">
        <h1 class="title is-1 is-hidden-mobile" style="font-size: 70px;">
          Papel
        </h1>
        <h1 class="title is-1 is-hidden-tablet" style="font-size: 40px;">
          Papel
        </h1>
      </div>
    </div>
    <div class="columns is-vcentered" style="margin-top: 2rem;">
      <div class="column is-4 is-offset-1">
        <div class="box has-text-justified">
          <p>
          El Papel es un material constituido por una delgada lámina elaborada a
					partir de pulpa de celulosa, una pasta de fibras vegetales molidas suspendidas
					en agua, generalmente blanqueada, y posteriormente secada y endurecida, a la
					que normalmente se le añaden sustancias como polipropileno o polietileno con
					el fin de proporcionarle características especiales.
          </p>
      </div>
    </div>
      <div class="column is-5 is-offset-1">
        <div id="map" style="height:300px; width:100%;"></div>
      </div>
    </div>
  </div>
</div>
<script src="/js/paper.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWgEjuWSwFWMyx7qmvn07feSZeQngHd4E&callback=initMap"
async defer></script>
</body>
</html>
