<% layout('layout') %>
<div class="hero-body" style="align-items: flex-start; justify-content: center;"><!--Cuerpo-->
    <div class="container has-text-centered is-size-5">
      <p>Por favor elegir la clase de material que desea reciclar</p>
      <br />
      <div class="columns is-multiline"><!--Columnas responsives-->
          <div class="column is-half">
						<a href="/materials/paper">
						<div class="notification is-white has-text-centered" href="/materials/paper" style="background-color: #FFCB2F;">
            	<span class="icon">
              	<i class="far fa-clone is-size-2"></i>
            	</span>
            		<p>Papel</p>
						</div>
						</a>
          </div>
          <div class="column is-half">
						<a href="/materials/plastic">
						<div class="notification is-white has-text-centered" href="/materials/plastic" style="background-color: #E6E671;">
            	<span class="icon">
              	<i class="fab fa-gulp is-size-2"></i>
								<!--i class="fas fa-cannabis"></i>-->
            	</span>
            		<p>Plástico</p>
          	</div>
						</a>
					</div>
          <div class="column is-half">
						<a href="/materials/paperboard">
						<div class="notification is-white has-text-centered" href="/materials/paperboard" style="background-color: #FFC65B;">
            	<span class="icon">
              	<i class="fas fa-box is-size-2"></i>
            	</span>
            		<p>Cartón</p>
          	</div>
						</a>
					</div>
          <div class="column is-half">
						<a href="/materials/glass">
						<div class="notification is-white has-text-centered" href="/materials/glass" style="background-color: #FFAC62;">
            	<span class="icon">
              	<i class="fas fa-glass-martini is-size-2"></i>
            	</span>
								<p>Vidrio</p>
          	</div>
						</a>
					</div>
          <div class="column is-half is-offset-one-quarter">
						<a href="/materials/electronic">
						<div class="notification is-white has-text-centered" href="/materials/electronic" style="background-color: #E6CE00;">
            	<span class="icon">
              	<i class="fas fa-code-branch is-size-2"></i>
            	</span>
            		<p>Electrónicos</p>
          	</div>
						</a>
					</div>
				<br />
      </div>
		</div>
  </div><!--Fin del cuerpo-->
</body>
</html>
