<% layout('layout') %>
  <div class="hero-body" style="align-items: flex-start;"><!--Cuerpo-->
    <div class="container has-text-centered">
      <div class="columns is-vcentered" style="margin-top: 4rem;">
        <div class="column is-4 is-offset-1 is-hidden-mobile">
          <span class="icon is-large">
            <i class="fas fa-box fa-7x"></i>
          </span>
        </div>
        <div class="column is-4 is-offset-1 is-hidden-tablet">
          <span class="icon is-large">
            <i class="fas fa-box fa-5x"></i>
          </span>
        </div>
        <div class="column is-5 is-offset-1">
          <h1 class="title is-1 is-hidden-mobile" style="font-size: 70px;">
            Cartón
          </h1>
          <h1 class="title is-1 is-hidden-tablet" style="font-size: 40px;">
            Cartón
          </h1>
        </div>
      </div>
      <div class="columns is-vcentered" style="margin-top: 2rem;">
        <div class="column is-4 is-offset-1">
          <div class="box has-text-justified">
            <p>
            El cartón es un material formado por varias capas de papel superpuestas,
            a base de fibra virgen o de papel reciclado. El cartón es más grueso, duro
            y resistente que el papel. Algunos tipos de cartón son usados para fabricar
            embalajes y envases, básicamente cajas de diversos tipos. La capa superior
            puede recibir un acabado diferente llamado «estuco» que le confiere mayor vistosidad.
            </p>
        </div>
        <a class="button is-primary is-inverted" href="/materials">Volver a materiales</a>
      </div>
        <div class="column is-5 is-offset-1">
          <div id="map" style="height:300px; width:100%;"></div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/paperboard.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtTcw1C9SfDbgy2aKfOt_5N8m2Ltpqdu8&callback=initMap"
  async defer></script>
</body>
</html>
