<% layout('layout') %>
<div class="hero-body" style="align-items: flex-start;"><!--Cuerpo-->
  <div class="container has-text-centered">
    <div class="columns is-vcentered" style="margin-top: 4rem;">
      <div class="column is-4 is-offset-1 is-hidden-mobile">
        <span class="icon is-large">
          <i class="fab fa-gulp fa-7x"></i>
        </span>
      </div>
      <div class="column is-4 is-offset-1 is-hidden-tablet">
        <span class="icon is-large">
          <i class="fab fa-gulp fa-5x"></i>
        </span>
      </div>
      <div class="column is-5 is-offset-1">
        <h1 class="title is-1 is-hidden-mobile" style="font-size: 70px;">
          Plástico
        </h1>
        <h1 class="title is-1 is-hidden-tablet" style="font-size: 40px;">
          Plástico
        </h1>
      </div>
    </div>
    <div class="columns is-vcentered" style="margin-top: 2rem;">
      <div class="column is-4 is-offset-1">
        <div class="box has-text-justified">
          <p>
          Los plasticos son polímeros que se moldean a partir de la presión y el calor.
					Una vez que alcanzan el estado que caracteriza a los materiales que solemos
					denominar como plásticos, estan constituidos por una variedad de compuestos orgánicos,
					sintéticos o semisintéticos, que tienen la propiedad de ser maleables y por
					tanto pueden ser moldeados en objetos sólidos de diversas formas.
          </p>
      </div>
      <a class="button is-primary is-inverted" href="/materials">Volver a materiales</a>
    </div>
      <div class="column is-5 is-offset-1">
        <div id="map" style="height:300px; width:100%;"></div>
      </div>
    </div>
  </div>
</div>
<script src="/js/plastic.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWgEjuWSwFWMyx7qmvn07feSZeQngHd4E&callback=initMap"
async defer></script>
</body>
</html>
