<% layout('layout') %>
<div class="hero-body"><!--Cuerpo-->
  <div class="container has-text-centered"><!--texto centrado-->
      <div class="columns is-vcentered is-gapless"><!--Columnas con centrado en vertical-->
        <div class="column is-1 is-hidden-touch">
        </div>
          <div class="column is-5"><!--Ancho de la columna-->
              <figure class="image is-4by3"><!--Imagen de 4x3-->
                  <img src="Images/imageedit_1_8145917914.png" alt="Work in Progress">
              </figure>
          </div>
          <div class="column is-6 is-offset-1"><!--Columna de 6 con espacio de 1-->
              <h1 class="title is-2">
                  Work in Progress
              </h1>
              <h2 class="subtitle is-4">
                  Estamos trabajando en este servicio.
              </h2>
              <br>
              <p class="has-text-centered"><!--texto centrado-->
                  <a href="Congreso.html" class="button is-medium is-info is-outlined">
      Regresar a Mapa
    </a>
              </p>
          </div>
      </div>
  </div>
</div>
</body>
</html>
