
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>SWPECYMDTDDRYPDRELCDT</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
		<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<!-- jsdelivr cdn -->
		<script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
		<!-- unpkg -->
		<script src="https://unpkg.com/vee-validate@latest"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-i18n/8.1.1/vue-i18n.min.js"></script>
		<style>
		.danger-message {
			color: red;
			}
			.danger {
				border: 1px solid red;
			}
		</style>
</head>
<body>
<section class="hero is-fullheight is-default is-bold">
  <div class="hero-head" style="background: url(http://www.clker.com/cliparts/f/b/e/f/14161343851614494677abstract%20mixture%20of%20blue%20and%20green%20wallpaper.jpg);">
      <nav class="navbar is-primary"> <!--Navegador cabecera-->
          <div class="container">
              <div class="navbar-brand"><!--Parte derecha del navbar-->
                  <a class="navbar-item" href="../"><!--Logo que estará en la derecha-->
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Trash_Can_23.svg/758px-Trash_Can_23.svg.png" alt="Logo">
                  </a>
                  <span class="navbar-burger burger" data-target="navbarMenu"><!--Ícono desplegable con el contenido de navbarMenu-->
                  <span></span>
                  <span></span>
                  <span></span>
                  </span>
              </div>
              <div id="navbarMenu" class="navbar-menu"><!--Parte principal del navbar-->
								<div class="navbar-end is-hidden-touch"><!--Parte final del navbar-->
														<a class="navbar-item ">Mapa</a><!--Pestaña actual, por así decirlo-->
														<a class="navbar-item " href="material">Reciclaje</a>
														<a class="navbar-item is-active" href="claims">Reclamos</a>
														<a class="navbar-item " href="statistics">Estadisticas</a>
														<a class="navbar-item " href="qr">QR</a>
														<a class="navbar-item " href="login">Iniciar sesion</a>
								</div>
								<div class="navbar-end is-hidden-desktop has-background-grey-darker">
								<nav class="level has-background-grey-darker">
								<div class="level-item has-text-centered">
								<figure class=" image is-128x128 is-hidden-desktop"><img class="is-rounded" src="https://pm1.narvii.com/6640/b0dc8c743f5f28929dd805f295159ef2210041cc_128.jpg" alt="Usuario p"></figure></div></nav>
								<a class="navbar-item button is-dark has-text-left">Mapa</a><!--Pestaña actual, por así decirlo-->
								<a class="navbar-item button is-dark has-text-left" href="materials">Reciclaje</a>
								<a class="navbar-item button is-dark has-text-left is-active" href="claims">Reclamos</a>
								<a class="navbar-item button is-dark has-text-left" href="statistics">Estadisticas</a>
								<a class="navbar-item button is-dark has-text-left" href="qr">QR</a>
								<a class="navbar-item button is-dark has-text-left" href="login">Iniciar sesion</a>
							</div>
              </div>
          </div>
      </nav>
  </div>
<div class="hero-body" style="align-items: flex-start;"><!--Cuerpo-->
  <div class="container has-text-centered">
  <div class="column is-8 is-offset-2">
	  <h3 class="title has-text-grey">Reclamo</h3>
    <div class="box" id="app" style="background-color:hsl(0, 0%, 90%);">
      <form id="formulario" method="post" action="" @submit.prevent="validateBeforeForm">
        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label has-text-left">Nombre:</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control has-icons-left">
                        <input type="text" class="input name"
												name="name" v-model="name" v-validate="'required|alpha'"
												:class="{'is-danger': errors.has('name')}"/>
                        <span class="icon is-small is-left">
                          <i class="fas fa-user"></i>
                        </span>
                    </div>
										<div v-show="errors.has('name')" class="danger-message">{{ errors.first('name') }}</div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label has-text-left">DNI:</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control has-icons-left">
                        <input type="text" class="input" name="id"
												 v-model="id" v-validate="'required|digits:8'"
												 :class="{'danger': errors.has('id')}"/>
                        <span class="icon is-small is-left">
                          <i class="fas fa-address-card"></i>
                        </span>
                    </div>
										<div v-show="errors.has('id')" class="danger-message">{{ errors.first('id') }}</div>
								</div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label has-text-left">Telefono:</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control has-icons-left">
                        <input type="text" class="input" name="phone"
												v-model="phone" v-validate="'required|numeric'"
												:class="{'danger': errors.has('phone')}"/>
                        <span class="icon is-small is-left">
                          <i class="fas fa-mobile-alt"></i>
                        </span>
                    </div>
										<div v-show="errors.has('phone')" class="danger-message">{{ errors.first('phone') }}</div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label has-text-left">Correo:</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control has-icons-left">
                        <input type="text" class="input email" name="email"
												v-model="email" v-validate="'required|email'"
												:class="{'danger': errors.has('email')}" />
                        <span class="icon is-small is-left">
                          <i class="fas fa-at"></i>
                        </span>
                    </div>
										<div v-show="errors.has('email')" class="danger-message">{{ errors.first('email') }}</div>
                </div>
            </div>
        </div>
        <div class="field">
          <label class="label has-text-left">Reclamo:</label>
          <div class="control">
            <textarea class="textarea" placeholder="Ponga su reclamo aquí"
						name="textarea" v-model="textarea" v-validate="'required'"
						 :class="{'danger': errors.has('textarea')}" />
						></textarea>
          </div>
					<div v-show="errors.has('textarea')" class="danger-message">{{ errors.first('textarea') }}</div>
        </div>
        <nav class="level">
  			<div class="level-item has-text-centered">
          <div class="field is-grouped">
          <div class="control">
            <button type="submit" name="valider" value="Valider" class="button is-link">Enviar</button>
          </div>
          <div class="control">
            <button class="button is-text ">Cancelar</button>
          </div>
        </div></nav>
</div>
</form>
    </div>
  </div>
  </div>
  <nav class="level">
  <div class="level-item has-text-centered"> <strong id="demo"></strong></div></nav>
</div>
</section>
<script src="/js/bulma.js">
</script>
<script>

const dict = {
  custom: {
    id: {
      required: 'Este campo es necesario',
			digits: 'Ingrese DNI válido'
    },
		email:{
			required: 'Este campo es necesario',
			email: 'Ingrese un email válido'
		},
		phone: {
      required: 'Este campo es necesario',
			numeric: 'Ingrese teléfono válido'
    },
		name:{
			required: 'Este campo es necesario',
			alpha: 'Ingrese un nombre válido'
		},
		textarea:{
			required: 'Este campo es necesario'
		}
  }
};
	Vue.use(VeeValidate);
	VeeValidate.Validator.localize('en', dict);
	new Vue({
		el: "#app",
		data:
			{
				id: "",
				email: "",
				phone: "",
				name:"",
				textarea:"",
			},
		methods: {
			validateBeforeForm: function() {
			this.$validator.localize('en', dict);
			this.$validator.validateAll();
		}}

	});
</script>
</body>
</html>
