<% layout('layout') %>
<div class="hero-body"><!--Cuerpo-->
    <div class="container has-text-centered">
        <div class="column is-8 is-offset-2">
            <h3 class="title has-text-grey">Registro</h3>
            <p class="subtitle has-text-grey">Únase al cambio</p>
            <div class="box" style="background-color:hsl(0, 0%, 90%);">
                <form>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label has-text-left is-size-6">DNI:</label>
                    </div>
                    <div class="field-body">
                    <div class="field">
                    <div class="control has-icons-left">
                        <input name="dni" class="input" type="text" placeholder="" autofocus="" />
                        <span class="icon is-small is-left">
                            <i class="fas fa-address-card"></i>
                        </span>
                    </div>
                    </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label has-text-left is-size-6">Correo:</label>
                    </div>
                    <div class="field-body">
                    <div class="field">
                        <div class="control has-icons-left">
                            <input name="email" class="input" type="email" placeholder="" />
                            <span class="icon is-small is-left">
                                <i class="fas fa-at"></i>
                            </span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label has-text-left is-size-6">Telefono:</label>
                    </div>
                    <div class="field-body">
                    <div class="field">
                        <div class="control has-icons-left">
                            <input name="phone" class="input" type="text" placeholder="" />
                            <span class="icon is-small is-left">
                                <i class="fas fa-mobile-alt"></i>
                            </span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label has-text-left is-size-6">Contraseña:</label>
                    </div>
                    <div class="field-body">
                    <div class="field">
                        <div class="control has-icons-left">
                            <input name="password" class="input" type="password" placeholder="" />
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label has-text-left is-size-6">Confirme la contraseña:</label>
                    </div>
                    <div class="field-body">
                    <div class="field">
                        <div class="control has-icons-left">
                            <input name="password_confirmation" class="input" type="password" placeholder="" />
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                    </div>
                    </div>
                </div>
                    <button class="button is-block is-info is-large is-fullwidth">Registrarse</button>
                </form>
            </div>
            <p class="has-text-grey">
                <a href="/login">Iniciar sesión</a> &nbsp;·&nbsp;
                <a href="../">Ayuda</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>
