<% layout('layout') %>
<div class="hero-body"  style="align-items: flex-start; justify-content: center;"><!--Cuerpo-->
    <div class="container has-text-centered">
        <h3 class="title has-text-grey">Perfil del usuario</h3>
        <p class="subtitle has-text-grey"><sub>Gracias por unirse al cambio</sub></p>
    <article class="media">
        <figure class="media-left">
        <p class="image is-128x128 is-rounded">
        <img class="is-rounded" src="https://pbs.twimg.com/profile_images/966708606203809802/LqcC2Uno_400x400.jpg">
        </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <div class="columns is-multiline">
                    <div class="column is-two-fifths">
                        <div class="notification has-text-centered" style="background-color: NavajoWhite;">
                            <p class="is-size-6">
                                <strong>Solis Castillo, Renzo Alexander</strong>
                            </p>
                        </div>
                    </div>
                    <div class="column is-half">
                        <div class="notification">
                            <p class="is-size-6">
                                <strong>DNI: 77051578</strong>
                            </p>
                        </div>
                    </div>
                    <div class="column is-half">
                        <div class="notification">
                            <p class="is-size-6">
                                Correo Electronico: rensoliscastillo@gmail.com
                            </p>
                        </div>
                    </div>
                    <div class="column is-full">
                    <div class="notification has-text-centered" style="background-color: NavajoWhite;">
                        <p class="is-size-4">
                            Puntos: <strong>20</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
            <div class="media-right"></div>
    </article>
    </div>
</div>