.navbar-shadow {
    display: block !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 0;
    overflow: visible !important;
}

.image {
    height: 150px;
    width: 150px;
}